<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
        <meta name="description" content="frigate Event Video Recorder Uses frigate object detection as a backend for an Event driven network Video Recorder."/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	    <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="theme-color" content="#3B4248"/>
        <link rel="apple-touch-icon" href="fEVR-192.png"/>
        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/landscape.css" media="screen and (orientation: landscape)">
        <link rel="stylesheet" type="text/css" href="/static/css/portrait.css" media="screen and (orientation: portrait)">
        <link rel="stylesheet" href="/static/css/events.css"/>
        <link rel="stylesheet" href="/static/css/colors.css"/>
        <title>fEVR by BeardedTek</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-N9EPFZW1J5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-N9EPFZW1J5');
        </script>
        <script src='/static/js/modal.js'></script>
        <script src='/static/js/main.js'></script>
    </head>
    <body class="bg-dark">
        <div class="navbar bg-dark">
            <div class="logo">
                <a href="/"><img src="/static/img/fevr.svg"></a>
            </div>
            <div class="links">
                <button onclick="window.location.href='/'"">All Events</button>
                <button onclick="window.location.href='/api'"">API Docs</button>
                <button onclick="window.open('https://github.com/beardedtek-com/fevr','_blank')">GitHub</button>
                <button onclick="window.open('https://fevr.video','_blank')">fevr.video</button>
            </div>
        </div>
        <div class="content">
            <div class="description">
                <div class="tagline">
                    {{ title|safe }}
                </div>
                <div class="doc">
{% if page == 'apidocs' %}
    <pre>{{ contents }}</pre>
{% elif page == 'event' %}

<div id="container" class="eventsContainer">
    <div class='events'>
        <div class="eventView">
            {% if view == 'snap' or 'ack' %}
            <img class='viewport' src='/static/events/{{ event["eventid"]}}/snapshot.jpg'>
            {% elif view == 'clip' %}
            <video class="viewport" controls>
                <source src="/static/events/{{event['eventid']}}/clip.mp4" type="video/mp4">
            </video>
            {% elif view == 'live' %}
            <img src="http://192.168.2.240:5000/api/{{event['camera']}}?h=720&amp;bbox=1&amp;motion=1">
            {% endif %}
            <div class="{% if event['ack'] == 'true' %}hidden{% else %}new{% endif %}">NEW</div>
        </div>
        <div class="eventControls">
            <button onclick="window.location.href='/event/{{event['eventid']}}/clip'" class="eventControl">View Video</button>
            <button onclick="window.location.href='/event/{{event['eventid']}}/live'" class="eventControl">Live Video</button>
            {% if event['ack'] == "true" %}
            <button onclick="window.location.href='/event/{{event['eventid']}}/unack'" class="eventControl">Mark Unseen</button>
            {% else %}
            <button onclick="window.location.href='/event/{{event['eventid']}}/ack'" class="eventControl">Mark Seen</button>
            {% endif %}
            <button onclick="window.location.href='/event/{{event['eventid']}}/delete'" class="eventControl danger">Delete Event</button>
        </div>
    </div>
</div>

{% elif page == 'events' %}
<div id="container" class="eventsContainer">
    {% if events|length > 0 %}
        {% for event in events %}
            <div class='events'>
            <div class="eventThumb">
            <a href='/event/{{ events[event]["eventid"] }}/snap'>
            <img class='thumb' src='/static/events/{{ events[event]["eventid"]}}/thumb.jpg'>
            </a>
            <div class='eventsDetails'>
            <div class='subdetail'>{{ events[event]["time"] }}</div>
            <div class='subdetail'>{{ events[event]["object"] }}</div>
            <div class='subdetail'>{{ events[event]["score"] }}%</div>
            </div>
            <div class="{% if events[event]['ack'] == 'true' %}hidden{% else %}new{% endif %}">NEW</div>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="events">
            Sorry, Nothing to see here yet.<br/>
            SHOW SETUP DIALOGUE?
        </div>
    {% endif %}
</div>
{% endif %}
                    <div class="beard"></div>
                </div>
                <div class="footerContents">
                    <span class='copyleft'>&copy;</span>2022 <a target='_blank' href='https://beardedtek.com'>The Bearded Tek</a><br/>
                </div>
            </div>
            
    </body>
</html>
