{% macro navbar(current_user,page) -%}
        {% if current_user.is_authenticated %}
                <div class="profile div-link" onclick="menu();">
                        <!-- <img src="/static/img/beardmenu.png"> -->
                </div>
            
        {% else %}
                <button class="div-link" onclick="window.location.href='/login'">Login</button>
                <button class="div-link" onclick="window.location.href='/signup'">Register</button>
        {% endif %}
{%- endmacro %}